.header {
    display: flex;
    align-items: center; /* Vertical align the elements to the center */
    }

.title {
    margin: 0;
    }

.copy {
    margin-left: auto; /* Push this element to the right */
    }

.alert {
    color: var(--primary)
}

.smallbutton {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}